<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>FeedBackApp</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>Poppins-Black.ttf</string>
		<string>Poppins-BlackItalic.ttf</string>
		<string>Poppins-Bold.ttf</string>
		<string>Poppins-BoldItalic.ttf</string>
		<string>Poppins-ExtraBold.ttf</string>
		<string>Poppins-ExtraBoldItalic.ttf</string>
		<string>Poppins-ExtraLight.ttf</string>
		<string>Poppins-ExtraLightItalic.ttf</string>
		<string>Poppins-Italic.ttf</string>
		<string>Poppins-Light.ttf</string>
		<string>Poppins-LightItalic.ttf</string>
		<string>Poppins-Medium.ttf</string>
		<string>Poppins-MediumItalic.ttf</string>
		<string>Poppins-Regular.ttf</string>
		<string>Poppins-SemiBold.ttf</string>
		<string>Poppins-SemiBoldItalic.ttf</string>
		<string>Poppins-Thin.ttf</string>
		<string>Poppins-ThinItalic.ttf</string>
		<string>Roboto-Black.ttf</string>
		<string>Roboto-BlackItalic.ttf</string>
		<string>Roboto-Bold.ttf</string>
		<string>Roboto-BoldItalic.ttf</string>
		<string>Roboto-Italic.ttf</string>
		<string>Roboto-Light.ttf</string>
		<string>Roboto-LightItalic.ttf</string>
		<string>Roboto-Medium.ttf</string>
		<string>Roboto-MediumItalic.ttf</string>
		<string>Roboto-Regular.ttf</string>
		<string>Roboto-Thin.ttf</string>
		<string>Roboto-ThinItalic.ttf</string>
		<string>POPPINS-BLACK.ttf</string>
		<string>POPPINS-BLACKITALIC.ttf</string>
		<string>POPPINS-BOLD.ttf</string>
		<string>POPPINS-BOLDITALIC.ttf</string>
		<string>POPPINS-EXTRABOLD.ttf</string>
		<string>POPPINS-EXTRABOLDITALIC.ttf</string>
		<string>POPPINS-EXTRALIGHT.ttf</string>
		<string>POPPINS-EXTRALIGHTITALIC.ttf</string>
		<string>POPPINS-ITALIC.ttf</string>
		<string>POPPINS-LIGHT.ttf</string>
		<string>POPPINS-LIGHTITLIC.ttf</string>
		<string>POPPINS-MEDIUM'.ttf</string>
		<string>POPPINS-MEDIUMITALIC.ttf</string>
		<string>POPPINS-REGULAR.ttf</string>
		<string>POPPINS-SEMIBOLD.ttf</string>
		<string>POPPINS-SEMIBOLDITALIC.ttf</string>
		<string>POPPINS-THIN.ttf</string>
		<string>POPPINS-THINITALIC.ttf</string>
		<string>ROBOTO-BLACK.ttf</string>
		<string>ROBOTO-BLACKITALIC.ttf</string>
		<string>ROBOTO-BOLD.ttf</string>
		<string>ROBOTO-BOLDITALIC.ttf</string>
		<string>ROBOTO-ITALIC.ttf</string>
		<string>ROBOTO-LIGHT.ttf</string>
		<string>ROBOTO-LIGHTITALIC.ttf</string>
		<string>ROBOTO-MEDIUM.ttf</string>
		<string>ROBOTO-MEDIUMITALIC.ttf</string>
		<string>ROBOTO-REGULAR.ttf</string>
		<string>ROBOTO-THIN.ttf</string>
		<string>ROBOTO-THINITALIC.ttf</string>
	</array>
</dict>
</plist>
